body {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1, h2 {
    margin: 5px 0;
    color: #333; /* Цвет текста заголовков */
}

section {
    padding: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
